.feature-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    /* background: #000; */
    padding: 20px;
}

.takefour {
    grid-column: span 4;
}

.taketwo {
    grid-column: span 2;
}

.second-card {
    grid-column: span 1;
    width: 250px;
    /* max-width: 270px; */
    /* Set max-width to 270px */
    /* justify-self: center; */
    /* Center the card horizontally */
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    max-height: 320px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.card:hover .text-overlay {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.image-section {
    position: relative;
    width: 100%;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* .services {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

.service {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
}

.one,
.nine {
    top: 70px;
}

.two,
.ten {
    top: 120px;
}

.three {
    top: 200px;
    left: 215px;
}

.eleven {
    top: 200px;
}

.twelve {
    top: 295px;
    right: 250px !important;
}

.four {
    top: 295px;
}

.five,
.thirteen {
    top: 375px;
}

.six {
    top: 455px;
}

.eight {
    right: 280px;
    top: 495px;
}

.seven {
    top: 522px;
    left: 215px;
}

/* .eight {
    top: 630px;
} */

.one,
.five {
    left: 300px;
}

.two,
.four,
.six {
    left: 100px;
}

.nine,
.eleven,
.thirteen {
    right: 100px;
}

.ten,
.twelve {
    right: 300px;
}

.description {
    max-width: 800px;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    bottom: 20px;
    left: 20%;
}

.description p {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

#process {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #58817c; */
    padding-bottom: 35px;
}

.our-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.step img {
    width: 100%;
    border-radius: 15px;
}

.step {
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

.step-title {
    font-size: 35px;
    margin: 5px 0;
    color: #000;
}

.process-title {
    font-size: 58px;
    margin: 5px 0 20px 0;
}

.step-desc {
    background: #fff;
    color: #000;
    padding: 5px;
    border-radius: 10px;
    margin: 0;
}

.card .img-title {
    font-size: 31px;
    margin: 0;
}

.card p {
    margin: 10px 0 0 0;
    font-size: 18px;
}

.second-card p,
.taketwo p {
    font-size: 14px !important;
}

.second-card .img-title,
.taketwo .img-title {
    font-size: 23px;
}

.fit-pos {
    object-position: 0 -95px;
}

.fit-img {
    width: 370px;
    height: 370px;
    object-fit: cover;
    object-position: top;
}